.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml15 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml15 .letter {
  display: inline-block;
  line-height: 1em;
}