.slider {
  width: 90%;
  margin: auto;
  border: 1px solid #000;
  
}


.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}
.slider .product_list{
  background: var(--gl_red);
  /* color: var(--gl_night_text); */
  margin: 10px;
  max-width: 230px;
}
.slider .product_list:hover{
  box-shadow: 0px 0px 10px ;
}
.prod_img{
width:200px
}
.prod_meta{
padding: 10px;
color: var(--gl_night_text);
}
.prod_title{

}
.prod_details{

}
.prod_px{
  font-size: 1.5em;
}
.prod_state{
  padding: 0px 5px;
  background: green;
  width: fit-content;
}